@{
    ViewData["Title"] = "User Detail";
}
<h4>@ViewData["Title"]</h4>
<div>
  <div>
    <label>Join Date: </label>
    <input value="" type="text" disabled />
  </div>
  <div>
    <label>User Name: </label>
    <input value="" type="text" disabled />
  </div>
  <div>
    <label>First Name: </label>
    <input type="text" value="" disabled />
  </div>
  <div>
    <label>Last Name: </label>
    <input value="" type="text" disabled />
  </div>
  <div>
    <label>Phone:</label>
    <input value="" type="text" disabled />
  </div>
  <div>
    <label>Email: </label>
    <input value="" type="text" disabled />
  </div>
  <div>
    <label>Is Admin: </label>
    <input type ="checkbox" value="false" disabled />
  </div>
  <div>
    <label>Is Reviewer: </label>
    <input type="checkbox" [checked]="user.isAdmin" disabled />
  </div>
</div>